@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Work Sans");

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.foreground {
  position: relative;
  z-index: 1;
}

h1 {
  margin: 0;
  text-shadow: '3px 3px black';
}

p {
  margin: 0;
  text-shadow: '3px 3px black';

}